 <div class="container">
    <h1>Add Tasks</h1>
    <div class="content">
      <div class="form">
        <form id="taskForm" [formGroup]="todoForm">
          <div class="form-group">
            <label>Title</label>
            <input type="text" [formControl]="title"  placeholder="create a task" required>
          </div>
          <div class="form-group">
            <label >Description</label>
            <textarea [formControl]="description"  placeholder="task description" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label >Due Date</label>
            <input [formControl]="date" type="date"  required>
          </div>
          <div class="form-group">
            <label for="priority" >Priority</label>
            <select  id="priority" [formControl]="priority" required>
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
            </select>
          </div>
          <button (click)="submit()">Add Task</button>
        </form>
      </div>
    </div>
    <div class="history">
    <h2>Log Table - History</h2>
    <div id="taskHistory">
      <table>
        <thead>
          <tr>
            <th>Task Title</th>
            <th>History</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.title }}</td>
            <td>
              <ul>
                <li *ngFor="let entry of task.history">
                  {{ entry.date }} - {{ entry.action }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>